.snippet-card {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: fit-content;
  min-height: 168px;

  border-radius: 4px;

  gap: 10px;

  &:hover {
    cursor: pointer;
  }

  .cover {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 130px;

    border-radius: 10px;
  }
}