.box {
  max-width: 790px;
  margin: 0 auto;
}

.header {
  margin-bottom: 50px;

  text-align: center;

  .title {
    margin-bottom: 20px;

    cursor: pointer;
  }

  .description {
    color: #8c8c8c;
  }
}

.container {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.content {
  grid-column: span 4 / auto;

  .cover {
    position: relative;

    overflow: hidden;

    width: 100%;

    border-radius: 20px;
  }

  .info {
    margin: 20px 0;

    color: #9d9d9d;

    font-size: 14px;
  }
}

.aside {
  position: sticky;
  top: 168px;

  grid-column: span 1 / auto;

  .placeholder {
    width: 100%;
    min-height: 35%;
    margin-bottom: 40px;
  }
}

.drawer-box {
  width: 40%;
}