.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 12px 66px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 24px;

  gap: 16px;
  backdrop-filter: blur(20px);
  .nav {
    display: flex;
    align-items: center;
  }
  .community {
    display: flex;

    gap: 20px;
  }
}
